<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Additional Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Additional Photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="picker">
    <ion-button color="primary" (click)="onPickImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-label>Take Picture</ion-label>
    </ion-button>
  </div>

</ion-content>